{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center">
  <div class="col-md-7 col-lg-5">
    <form action="/projects/new" method="POST">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {% if field.type == 'FieldList'%}
          {% if field.entries|length > 0 %}
            {% for error in field.errors %}
              <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control mb-3") }}
          {% endif %}
        {% else %}
          {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control mb-3") }}
          {% endif %}
      {% endfor %}

      <button class="btn btn-primary">Add project</button>
    </form>
  </div>
</div>

{% endblock %}