{% extends 'base.html' %}

{% block content %}

<div class="container">

  {% if g.user.id == project.user.id %}
  <form>
    {{ g.csrf_form.hidden_tag() }}
    <button formaction="/projects/{{project.id}}/edit" class="btn btn-secondary mb-5">
      Edit
    </button>
    <button formaction="/projects/{{project.id}}/delete" formmethod="POST" class="btn btn-danger mb-5">
      Delete
    </button>
</form>
  {% endif %}

  <h1 class="mb-5">{{ project.title }}</h1>

  {% if project.pattern %}
  <h2>Pattern:</h2>
  <p>
    {{ project.pattern }}
    {% if project.designer %} by {{ project.designer }} {% endif %}
  </p>
  {% endif %}

  {% if project.yarns or project.needles or project.yarns %}
    <h2>Materials:</h2>
    {% if project.needles %}
      <h3>Needles</h3>
      {% for needle in project.needles %}
        {{ needle.size }}
        {% if not loop.last %}
          <br>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if project.hooks %}
      <h3>Hooks</h3>
      {% for hook in project.hooks %}
        {{ hook.size }}
        {% if not loop.last %}
          <br>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if project.yarns %}
      <h3>Yarns</h3>
      {% for yarn in project.yarns %}
     <h4>{{ yarn.name }}</h4>
      <br>
      Color: {{ yarn.color }}
      <br>
      Amount: {{ yarn.num_skeins }} = {{ yarn.num_skeins * yarn.skein_length}} {{ yarn.skein_length_unit}}
      / {{ yarn.num_skeins * yarn.skein_weight}} {{ yarn.skein_weight_unit}}
      {% if not loop.last %}
        <br>
      {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}

  <h2>Notes:</h2>
  <p>{{ project.content }}</p>
</div>

{% endblock %}