:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.card-btn {
  position: relative;
  z-index: 2;
}

/* ==================== Nav */

.nav-right {
  gap: .8em;
}

/* ==================== User profile */

.user-profile .side-bar {
  width: 200px;
}

/* ==================== Project cards */

/* ==================== Project details */

.project-details h1 {
  font-size: 2rem;
}

.project-details h2 {
  font-size: 1.2rem;
  margin-top: 2rem;
}

h2.project-details-pattern {
  display: inline-block;
}

.project-details .yarn {
  margin-bottom: 1.8srem;
}

/* ==================== Conversations page */

#conversation-pg-container {
  padding: 0;
  margin: 0;
  min-width: 100vw;
}

#msg-compose {
  width: 70%;
}

.message {
  width: auto;
  max-width: 60%;
}