<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crafty</title>

  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.css">
  <link rel="stylesheet" href="https://www.unpkg.com/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/style.css">
</head>

<body class="d-flex flex-column">

  <nav class="navbar navbar-expand-lg bg-body-tertiary mb-5">
    <div class="container d-flex justify-content-between">
      <div class="navbar-nav">
      <a href="/" class="navbar-brand">
        Crafty
      </a>
      <form class="d-flex me-5" role="search" action="/users">
        <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
      <div class="navbar-nav d-flex nav-right">
        {% if not g.user%}
        <a href="/signup" class="nav-link">Sign up</a>
        <a href="/login" class="nav-link">Log in</a>
        {% else %}
        <a href="/notifications" class="nav-link">
          <i class="bi bi-bell"></i>
          {% if g.user.requests_received|length > 0 %}
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ g.user.requests_received|length }}
            <span class="visually-hidden">new notifications</span>
            {% endif %}
          </a>
          <a href="/conversations" class="nav-link position-relative"><i class="bi bi-chat-dots"></i></a>
        <a href="/profile" class="nav-link">Profile</a>
        <form action="/logout" method="POST">
          {{ g.csrf_form.hidden_tag() }}
          <button type="submit" class="btn btn-link nav-link">Log out</button>
        </form>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="container">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{category}}" role="alert">
      {{message}}
    </div>
    {% endfor %}
  </div>

  {% block content %}

  {% endblock %}


</body>

</html>