{% macro create_project_card(project) %}
<div class="col-12 mt-2">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{project.title}} from {{ project.user.username }}</h5>
      <form>
        {{ g.csrf_form.hidden_tag() }}
        <input type="hidden" name="came_from" value="{{request.url}}">
        {% if g.user.id != project.user_id %}
            {% if project.user in g.user.following %}
              <button formaction="/users/{{project.user_id}}/unfollow" formmethod="POST" class="card-btn btn btn-secondary mb-2">
                Unfollow
              </button>
              {% elif project.user in g.user.requests_made %}
              <button formaction="/users/{{project.user_id}}/cancel_request" formmethod="POST" class="card-btn btn btn-primary mb-2">
                Requested
              </button>
            {% else %}
              <button formaction="/users/{{project.user_id}}/follow" formmethod="POST" class="card-btn btn btn-secondary mb-2">
                Follow
              </button>
            {% endif %}
          {% endif %}
      </form>
      <a href="/projects/{{project.id}}" class="stretched-link"></a>
    </div>
  </div>
</div>
{% endmacro %}