{% extends 'base.html' %}
{% from 'projects/macros.html' import create_project_card %}

{% block content %}

<div class="container">
  {% if g.user.id == user.id %}
  <form>
    {{ g.csrf_form.hidden_tag() }}
    <button formaction="/projects/new" class="btn btn-secondary mb-2">
      Add Project
    </button>
    <button formaction="/users/delete" formmethod="POST" class="btn btn-danger mb-2">
      Delete User
    </button>
  </form>

  {% endif %}
  <div class="row">
    {% for project in user.projects %}
    {{ create_project_card(project) }}
    {% endfor %}
  </div>
</div>


{% endblock %}