{% extends 'base.html' %}

{% block content %}
<!-- for testing profile page -->
<div class="container user-profile">
  {% if g.user.id == user.id %}
  <form>
    {{ g.csrf_form.hidden_tag() }}
    <button formaction="/projects/new" class="btn btn-secondary mb-2">
      Add Project
    </button>
    <button formaction="/projects/log_time" class="btn btn-success mb-2">
      Log time
    </button>
  </form>
  {% endif %}

  <div class="d-flex">
    <div class="card side-bar me-5">
      <div class="card-body text-center">
        <h5 class="card-title mb-3">{{ user.username }}</h5>
        <form>
          {{ g.csrf_form.hidden_tag() }}
          <input type="hidden" name="came_from" value="{{request.url}}">
          {% if g.user.id != user.id %}
            {% if user in g.user.following %}
            <!-- for testing unfollow button -->
              <button formaction="/users/{{user.id}}/unfollow" formmethod="POST" class="btn btn-secondary mb-2">
                Unfollow
              </button>
            {% elif user in g.user.requests_made %}
            <!-- for testing cancel request button -->
              <button formaction="/users/{{user.id}}/cancel_request" formmethod="POST" class="btn btn-primary mb-2">
                Requested
              </button>
            {% else %}
            <!-- for testing follow button -->
              <button formaction="/users/{{user.id}}/follow" formmethod="POST" class="btn btn-secondary mb-2">
                Follow
              </button>
            {% endif %}
          {% endif %}
        </form>
        <hr/>
        <a href="/users/{{user.id}}">
          {{user.projects|length}} {{ 'Project' if user.projects|length == 1 else 'Projects'}}
        </a>
        <hr/>
        <a href="/users/{{user.id}}/followers">
          <p class="card-text">
            {{ user.followers|length }} {{ 'Follower' if user.followers|length == 1 else 'Followers'}}
          </p>
        </a>
        <a href="/users/{{user.id}}/following">
          <p class="card-text">
            Following {{ user.following|length }}
          </p>
        </a>
      </div>
    </div>

    <div class="flex-fill">
      {% block profile_content%}
      {% endblock %}
    </div>
  </div>
</div>


{% endblock %}